nav.mobile_nav {
  display: none;
  grid-template-columns: 5% 30% 55% 10%;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  padding-inline: clamp(2rem, 5vw, 7rem);
  margin-bottom: clamp(2.5rem, 7vw, 4rem);
  /* margin-bottom: 4rem; */
}
nav.mobile_nav .nav_menu img {
  width: 22px;
  // height: 100%;
  height: auto;
  cursor: pointer;
}
nav.mobile_nav .nav_menu .menu_blur {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}
nav.mobile_nav .nav_menu .menu_blur.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
nav.mobile_nav .nav_menu .menu_overlay {
  z-index: 5;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 65vw;
  background-color: #fff;
  transform: translateX(-100%);
  border-top-right-radius: 11px;
  transition: all 0.4s;
}
nav.mobile_nav .nav_menu .menu_overlay.active {
  transform: translateX(0);
}
nav.mobile_nav .nav_menu .menu_overlay .overlay_close {
  padding-top: 1.5rem;
}
nav.mobile_nav .nav_menu .menu_overlay .overlay_close img {
  display: block;
  margin-inline: auto 2rem;
}
nav.mobile_nav .nav_menu .menu_overlay h4 {
  color: #151515;
  padding-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
nav.mobile_nav .nav_menu .menu_overlay .account {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}
nav.mobile_nav .nav_menu .menu_overlay .account .account_icon img {
  width: 30px;
  height: auto;
}
nav.mobile_nav .nav_menu .menu_overlay .account .account_content {
  margin-top: -1.2rem;
  margin-left: 1.5rem;
}
nav.mobile_nav .nav_menu .menu_overlay .account .account_content p {
  font-size: 1.6rem;
  margin-top: 0;
  color: #151515;
}
nav.mobile_nav .nav_menu .menu_overlay .account .account_content small {
  color: #151515;
  font-size: 1.3rem;
}
nav.mobile_nav .nav_menu .menu_overlay .account .account_content small a {
  color: #151515;
}
nav.mobile_nav .nav_menu .menu_overlay .account_loggedIn {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}
nav.mobile_nav .nav_menu .menu_overlay .account_loggedIn .account_icon img {
  width: 30px;
  height: auto;
}
nav.mobile_nav .nav_menu .menu_overlay .account_loggedIn .account_content {
  margin-top: -1.2rem;
  margin-left: 1.5rem;
}
nav.mobile_nav .nav_menu .menu_overlay .account_loggedIn .account_content p {
  font-size: clamp(1.6rem, 4.4vw, 1.8rem);
  margin-top: 0;
  color: #151515;
}
nav.mobile_nav
  .nav_menu
  .menu_overlay
  .account_loggedIn
  .account_content
  small {
  color: #151515;
  font-size: clamp(1.3rem, 3vw, 1.55rem);
  display: block;
}
nav.mobile_nav
  .nav_menu
  .menu_overlay
  .account_loggedIn
  .account_content
  small
  a {
  color: #151515;
}
nav.mobile_nav
  .nav_menu
  .menu_overlay
  .account_loggedIn
  .account_content
  small:nth-child(2),
nav.mobile_nav
  .nav_menu
  .menu_overlay
  .account_loggedIn
  .account_content
  small:nth-child(3),
nav.mobile_nav
  .nav_menu
  .menu_overlay
  .account_loggedIn
  .account_content
  small:nth-child(4) {
  margin-top: 3px;
}
nav.mobile_nav .nav_menu .menu_overlay ul li {
  padding-left: 1.5rem;
  padding-block: 1rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.35);
}
nav.mobile_nav .nav_menu .menu_overlay ul li a {
  color: #151515;
}
/* SIDEBAR CONTEXT MENU */
nav.mobile_nav .nav_menu .menu_context {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 65vw;
  background-color: #fff;
  transform: translateX(-100%);
  border-top-right-radius: 11px;
  transition: all 0.4s;
}
nav.mobile_nav .nav_menu .menu_context.active {
  transform: translateX(0);
}
nav.mobile_nav .nav_menu .menu_context .overlay_return {
  padding-top: 1.5rem;
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  width: max-content;
}
nav.mobile_nav .nav_menu .menu_context .overlay_return img {
  height: 1.8rem;
  width: auto;
  margin-right: 0.8rem;
}
nav.mobile_nav .nav_menu .menu_context .overlay_return p {
  margin-top: 0;
  display: inline-block;
  color: crimson;
  font-family: "FiraSans-Medium";
  cursor: pointer;
  letter-spacing: 0.55px;
}
nav.mobile_nav .nav_menu .menu_context h4 {
  color: #151515;
  padding-left: 1.5rem;
  margin-block: 3rem 1rem;
}
nav.mobile_nav .nav_menu .menu_context ul li {
  padding-left: 1.5rem;
  padding-block: 1rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.35);
}
nav.mobile_nav .nav_menu .menu_context ul li a {
  color: #151515;
}

nav.mobile_nav .nav_logo a img {
  width: 40vw;
  height: auto;
}
nav.mobile_nav .nav_search input#search {
  width: 100%;
  background-color: #3a3b3b;
  color: #b4b4b4;
  outline: none;
}
nav.mobile_nav .nav_cart {
  justify-self: flex-end;
}
nav.mobile_nav .nav_cart a {
  height: inherit;
}
nav.mobile_nav .nav_cart a img {
  width: 35px;
  height: auto;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  nav.mobile_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  nav.mobile_nav .nav_menu {
    order: 1;
  }
  nav.mobile_nav .nav_logo {
    order: 2;
    padding-left: 1.5rem;
  }
  nav.mobile_nav .nav_logo a img {
    width: 30vw;
    height: auto;
  }
  nav.mobile_nav .nav_search {
    grid-column: 1/4;
    grid-row: 2/3;
    order: 4;
    margin-top: 1.5rem;
  }
  nav.mobile_nav .nav_cart {
    order: 3;
  }
}

@media screen and (max-width: 640px) {
  nav.mobile_nav .nav_cart a img {
    max-width: 3rem;
  }
}
