#game_swiper {
  margin-top: 2.5rem;
  width: 100%;
  height: auto;

  .swiper_slide {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}
#thumbs_swiper {
  width: 100%;
  height: auto;
  margin-top: 5px;

  .swiper_slide {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 811px) {
  #game_swiper {
    margin-top: 0;
  }
}
