.mySwiper {
  max-width: 1280px;
  /* width: 100%; */
  /* height: 100%; */
}

.swiper_slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide img.carousel_img {
  width: 100%;
  height: auto;
  /* display: block; */
  /* height: 100%; */
  /* object-fit: contain; */
}

span.swiper-pagination-bullet {
  background-color: #c2c4cc;
  height: 8px;
  width: 8px;
}
span.swiper-pagination-bullet-active {
  background-color: #20b830;
  height: 16px;
  width: 16px;
}

div.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-inline: 6px;
}
